Source: asynctelnet
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9.20150101)
Standards-Version: 3.9.6
Homepage: http://asynctelnet.readthedocs.io/

Package: python3-asynctelnet
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: async telnet server and client library
 asynctelnet is an asynchronous telnet client and server library for python.
 .
 It works with both asyncio and Trio.
